.background-img {
    background: url('./supermarketcart.jpg') no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 900px;
}

h1 {
    display: flex;
    justify-content: center;
}